<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mytest.springsecuritydemo3.dao.BizUserRoleMapperExtend">
  <resultMap id="BaseResultMap" type="com.mytest.springsecuritydemo3.model.entity.BizUserRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="disabled" jdbcType="BIT" property="disabled" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, role_id, disabled, create_by, create_time, update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from biz_user_role
    where disabled=0 and id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey">
    update  biz_user_role set disabled=1 ,modify_time=now(),modify_by=#{arg1}
    where id = #{arg0}
  </delete>
  <insert id="insertSelective" parameterType="com.mytest.springsecuritydemo3.model.entity.BizUserRole">
    insert into biz_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="disabled != null">
        disabled,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="disabled != null">
        #{disabled,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into biz_user_role (id, user_id, role_id, 
      disabled, create_by, create_time, 
      update_by, update_time)
    values 
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.userId,jdbcType=INTEGER}, #{item.roleId,jdbcType=INTEGER}, 
        #{item.disabled,jdbcType=BIT}, #{item.createBy,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateBy,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mytest.springsecuritydemo3.model.entity.BizUserRole">
    update biz_user_role
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="disabled != null">
        disabled = #{disabled,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where  disabled=0 and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    update biz_user_role
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="user_id =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.userId != null ">
            when  #{item.id} then #{item.userId}
          </if>
        </foreach>
      </trim>
      <trim prefix="role_id =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.roleId != null ">
            when  #{item.id} then #{item.roleId}
          </if>
        </foreach>
      </trim>
      <trim prefix="disabled =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.disabled != null ">
            when  #{item.id} then #{item.disabled}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_by =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.createBy != null ">
            when  #{item.id} then #{item.createBy}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.createTime != null ">
            when  #{item.id} then #{item.createTime}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_by =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.updateBy != null ">
            when  #{item.id} then #{item.updateBy}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time =case id" suffix="end,">
        <foreach collection="list" index="index" item="item" separator=" ">
          <if test="item.updateTime != null ">
            when  #{item.id} then #{item.updateTime}
          </if>
        </foreach>
      </trim>
    </trim>
    where  disabled=0 and id in 
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
       #{item.id} 
    </foreach>
  </update>
  <select id="selectByCondition" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from biz_user_role
    where disabled=0
    <foreach collection="condition.keys" item="k" separator="and" open="and">
      <if test="null != condition[k] ">
        <choose>
          <when test="condition[k] instanceof java.util.List">
            ${k} IN
            <foreach collection="condition[k]" item="item" separator="," open="(" close=")">
              #{item}
            </foreach>
          </when>
          <otherwise>
            ${k} = #{condition[${k}]}
          </otherwise>
        </choose>
      </if>
    </foreach>
  </select>
  <update id="deleteBatchByPrimaryKey">
    update  biz_user_role set disabled=1 ,modify_time=now(),modify_by=#{arg1} where disabled=0
      and id in 
    <foreach close=")" collection="arg0" index="index" item="item" open="(" separator=",">
       #{item}
    </foreach>
  </update>
</mapper>